@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

body {
  background-color: #f1f1f1;
}

nav {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

nav h1 {
  font-size: 24px;
  font-weight: 600;
  color: #219ebc;
}

section.header {
  max-height: 120vh;
  align-items: center;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}

.btn-detail {
  background-color: #fb8500;
  color: white;
  margin-top: 30px;
  border-radius: 50px;
  max-width: 150px;
  height: 50px;
  transition: 0.5s ease;
}

.btn-detail:hover {
  background-color: #f89a2e;
  color: white;
  border: 0;
}

p {
  color: #353535;
}

.case-study {
  margin-top: 80px;
  background-color: white;
  padding: 50px 0;
}

.box {
  border-radius: 6px;
  background-color: rgb(236, 236, 236);
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: 0.3s ease-in-out;
  border: 1px solid rgb(236, 234, 234);
  color: #f1f1f1;
}

.box:hover {
  background-color: #fff;
}

section.more-detail img {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
}

p.text-detail {
  color: #219ebc !important;
  transition: 0.3s ease;
}

p.text-detail:hover {
  cursor: grab;
  color: #1d8eaa;
}

footer {
  background-color: #353535;
  margin-top: 100px;
  max-height: 300px;
  font-size: 24px;
  color: #f1f1f1;
}

footer ul {
  font-size: 14px;
  color: rgb(180, 177, 177) !important;
  list-style: none;
  margin-left: -30px;
}

footer ul.social a {
  font-size: 14px;
  color: rgb(180, 177, 177) !important;
  list-style: none;
}

@media (max-width: 768px) {
  section.header {
    padding-top: 50px;
  }

  .small-pt {
    padding-top: 20px;
  }
}
